<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Solar System</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <p>Click on a planet to know more about it:</p>
    <nav>
        <a href="/mercury"> Mercury </a> <br>
        <a href = "/venus"> Venus </a> <br>
        <a href="/earth">Earth </a> <br>
    </nav>
</head>
<body>
