<!DOCTYPE html>
<% include partials/header.ejs %>
<body>
<img src="/img/mars.html" alt="Mars" />
    <p>Mars is the fourth planet from the Sun, and is the second smallest planet in the Solar System. It has two
    natural satellites, the moons Phobos and Deimos.  Mars will rotate the Sun once every 687 days, and will
    finish one rotational period every 24 hours and 37 minutes, similar to that of Earth's.  Mars is the only planet
    in the solar system humans have considered colonizing and there have been multiple rovers send to inspect its
        surface.</p>
<% include partials/footer %>
