<!DOCTYPE html>
<h1>Welcome to the mercury page!</h1>
<% include partials/header.ejs %>
<body>

<img src="/img/mercury.jpg" alt="Mercury" />

<p>Mercury is the closest planet to the Sun and has virtually no atmosphere.  It has the shortest rotational period
    around the sun, and will finish a full rotation in only about 88 days.  Interestingly, Mercury will rotate
    on its axis exactly three times for every two rotations around the sun.  The planet has no natural satellites,
    and its lack of atmosphere leads to temperatures varying from -280&degF and 800&degF.</p>

<% include partials/footer %>
