<!DOCTYPE html>
<h1>Venus</h1>
<% include partials/header.ejs %>
<body>
<img src="/img/venus.jpg" alt="Venus" />
<p>Venus is the second planet from the Sun, and while similar to Earth in size and composition, its surface conditions
    vary greatly.  Out of the terrestrial planets in the solar system, it has the densest atmosphere, which leads
     to it having a mean surface temperature of around 863&degF.  This also attributes to its high visibility in
    the night sky.  Venus is the brightest object in the night sky besides the moon.  Venus orbits the sun every 225
    days, and has a long rotational period of 243 days. </p>
<% include partials/footer %>
